<h1>Listing hounds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hounds.each do |hound| %>
  <tr>
    <td><%= hound.name %></td>
    <td><%= hound.age %></td>
    <td><%= link_to 'Show', hound %></td>
    <td><%= link_to 'Edit', edit_hound_path(hound) %></td>
    <td><%= link_to 'Destroy', hound, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hound', new_hound_path %>
